Checks: '-*,
         bugprone-*,
         cert-*,
         clang-analyzer-*,
         concurrency-*,
         cppcoreguidelines-*,
         hicpp-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -bugprone-easily-swappable-parameters,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -hicpp-braces-around-statements,
         -misc-non-private-member-variables-in-classes,
         -modernize-use-designated-initializers,
         -modernize-use-trailing-return-type,
         -readability-identifier-length,
         -readability-braces-around-statements,
         -readability-function-cognitive-complexity,
         -cppcoreguidelines-avoid-magic-numbers,
         -readability-magic-numbers,
         -misc-no-recursion,
         -misc-use-anonymous-namespace,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -bugprone-branch-clone'
WarningsAsErrors: '*'
FormatStyle: none
